*{
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: Affect; 
    src: url('../fonts/Affect/Affect.ttf')
}
@font-face {
    font-family: Affect-Bold; 
    src: url('../fonts/Affect/Affect-Bold.ttf')
}
html {
    scroll-behavior: smooth;
  }
body{
    background-color: #F1F3F6;
    font-family: Affect; 
}
.container-fluid{
    padding-left: 0;
    padding-right: 0;
}
header{
    height: 100vh;
    width: 100%;
    background: linear-gradient(180deg, #71BBC6 0%, #81D1DC 100%);
    position: relative;
    overflow: hidden;
}
.header-top{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px 0 20px;
}
.header-top .logo a img{
    height: 52px;
}
.header-top a{
    font-family: Affect;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;
    text-shadow: 1px 1px 0px #31A3B4;
}
.header-desc{
    position: relative;
    max-width: 1920px;
    width: 100%;
    z-index: 1;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}
.desc-text{
    font-family: Affect-Bold;
    font-size: 400px;
    line-height: 480px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 120%;
    color: rgba(255, 255, 255, 0.26); 

}
.header-desc::before{
    content: 'create';
    font-family: Affect-Bold;
    font-size: 400px;
    line-height: 480px;
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    bottom: 10%;
    color: rgba(255, 255, 255, 0.26);
}

.header-desc-img{
    position: relative;
}
.header-item{
    position: absolute;
}
.header-item.item-1{
    height: 250px;
    width: 240px;
    bottom: 120px;
    left: 20%;
}
.header-item.item-2{
    height: 200px;
    width: 253px;
    bottom: 380px;
    left: 25%;
}

.header-item.item-3{
    height: 240px;
    width: 300px;
    bottom: 400px;
    left: 55%;
}
.header-item.item-4{
    height: 205px;
    width: 253px;
    bottom: 300px;
    left: 70%;
}
.header-item.item-5{
    height: 195px;
    width: 200px;
    bottom: 150px;
    left: 65%;
}
.header-link{
    display: flex;
    justify-content: center;
}
.header-link a{
    font-family: Affect-Bold;
    font-size: 19px;
    line-height:23px;
    text-align: center;
    text-transform: lowercase;
    color: #FFFFFF;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
}
.header-link a:before{
    content: '';
    height: 1px;
    margin: 0 auto;
    background:#FFFFFF;
    position: absolute;
    bottom:0;
    -webkit-animation: line_r 3s infinite;
    animation: line_r 2s infinite;
}
@keyframes line_r {
    0%   {right: calc(2% + 260px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 260px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
.button-down{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    bottom:7px;
}
.header-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}
.header-block:before{
    content: '';
    background: rgba(255, 255, 255, 0.32);
    filter: blur(100px);
    height: 290px;
    width: 100%;
    position: absolute;
    bottom: 50%;
    top: 50%;
}
.logo-main .logo{
    margin-top: 50px;
    text-align: center;
}
.logo-main .logo a img{
    height: 50px;
}
.product-section{
    position: relative;
}
.test{
    position: absolute;
    bottom: -200px;
}
.produc{
    position: relative;
    overflow: hidden;
}
.produc-web:before{
    content:'usability';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(75, 126, 188, 0.08);
    position: absolute;
    right: -5%;
}
.produc.produc-3d{
    margin-bottom: 140px;
}
.produc-web-img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.produc-desing-web{
    position: absolute;
    top: 400px;
    z-index: 999;
    left: 0;
}
.produc-desing-img{
    position: absolute;
    top: 1000px;
    z-index: 999;
    right:  0;
}
.produc-3d-img{
    position: absolute;
    top: 1700px;
    z-index: 999;
    left:  0;
}
.produc.produc-print{
    margin-bottom: 200px;
}
.produc-print-img{
    position: absolute;
    top: 2400px;
    z-index: 999;
    right:  0;
}
.produc.produc-mat{
    margin-bottom: 200px;
}
.produc-mat-img{
    position: absolute;
    top: 3050px;
    z-index: 999;
    left:  0;
}
.produc.produc-desing{
    margin-bottom: 100px;
}
.produc-wall-img{
    position: absolute;
    top: 3900px;
    z-index: 999;
    right: 0;
}
.produc.produc-web{
    margin-bottom: 150px;
}
.produc-desing-web img{
    height: 200px;
}
.produc-desing .product-item{
    align-items: center;
}
.produc-desing .product-img img{
    height: 550px;
}
.product-img{
    position: relative;
    z-index: -1;
}
.product-img-sub{
    position: absolute;
    z-index: -1;
    left: 350px;
    bottom: 160px;
    height: 230px;
    width: 230px;
    animation: wheel 25s infinite linear;
    transform-origin: center;
    transform-box: fill-box;
}
.produc-desing .product-img-sub{
    left: 250px;
}
.produc-3d .product-img-sub{
    left: 250px;
}
.produc-print .product-img-sub{
    left: 250px;
    bottom: 0;
}
.produc-mat .product-img-sub{
    left: 0px;
    bottom: 100px;
}
.produc-wall .product-img-sub{
    left: 130px;
    bottom: 100px;
}

@keyframes wheel{
    from{
        transform: rotateZ(0deg);
    }
    to{
        transform: rotateZ(360deg);
    }
}
.produc-desing:before{
    content:'create';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(132, 209, 219, 0.1);
    position: absolute;
    left: 0%;
}
.produc-desing .link-block a{
    color: #84D1DB;
}
.produc-desing .link-block a:before{
    background: #84D1DB;
}
.produc-3d .link-block a{
    color:#FF9B05;
}
.produc-3d .link-block a:before{
    background:#FF9B05;
}
.produc-print .link-block a{
    color:#137F25;
}
.produc-print .link-block a:before{
    background:#137F25;
}
.produc-mat .link-block a{
    color:#EA6D66;
}
.produc-mat .link-block a:before{
    background:#EA6D66;
}
.produc-wall .link-block a{
    color:#77399D;
}
.produc-wall .link-block a:before{
    background:#77399D;
}
.produc-wall .product-item{
    flex-direction: row-reverse;
}
.produc-3d:before{
    content:'expansion';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(234, 109, 102, 0.06);
    position: absolute;
    right: -10%;
}
.produc-print .product-sub-title,
.produc-print .product-title{
    color: #137F25;
}
.produc-print:before{
    content:'print';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(33, 150, 83, 0.06);
    position: absolute;
    left: 0%;
}
.produc-mat:before{
    content:'style';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(234, 109, 102, 0.06);
    position: absolute;
    right: 0%;
}
.produc-mat .product-sub-title,
.produc-mat .product-title{
    color: #EA6D66;
}
.produc-wall:before{
    content:' unusually ';
    text-transform: uppercase;
    font-family: Affect-Bold;
    font-weight: bold;
    font-size: 400px;
    line-height: 480px;
    align-items: center;
    color: rgba(71, 50, 124, 0.05);
    position: absolute;
    left: 0%;
}
.produc-wall .product-sub-title,
.produc-wall .product-title{
    color: #77399D;
}
.product-item{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
    padding: 20px 0;
}
.product-img img{
    height: 350px;
}
.product-text{
    max-width: 600px;
    width: 100%;
}
.produc-web .product-title{
    color: #31679D;
}
.produc-desing .product-title{
    color: #84D1DB;
}
.produc-3d .product-title{
    color: #FF9B05;
}
.product-title{
    font-family: Affect-Bold;
    font-size: 60px;
    line-height: 60px;
    text-transform: uppercase;
}
.produc-web .product-sub-title{
    color: #31679D;
}
.produc-desing .product-sub-title{
    color: #84D1DB;
}
.produc-3d .product-sub-title{
    color: #FF9B05;
}
.product-sub-title{
    font-family: Affect;
    font-size: 24px;
    line-height: 30px;
    text-transform: uppercase;
    margin: 30px 0;
}
.produc-print .product-item{
    flex-direction: row-reverse;
}
.product-desc p{
    font-family: Affect;
    font-size: 17px;
    line-height: 21px;
    margin-bottom: 20px;
    color: #798BA7;
}
.product-desc p:last-child{
    margin-bottom: 0px;
}
.link-block a{
    position: relative;
    font-family: Affect-Bold;
    font-size: 18px;
    line-height: 22px;
    text-transform: uppercase;
    color: #31679D;
    text-decoration: none;
}
.link-block a:before{
    content:'';
    position: absolute;
    width: 60%;
    height: 2px;
    background:#31679D;
    bottom:-10px;
    transition: opacity 0.3s;
    margin: 0 20px 0 0;
    -webkit-animation: line_r_animation 3s infinite;
    animation: line_r_animation 2s infinite;
}

.product-link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.social-link ul li{
    display: inline-block;
    margin: 0 20px 0 0;

}
.social-link ul li:before{
    content:'';
     background: #F1F3F6;
    box-shadow: 5px 6px 13px rgba(55, 84, 170, 0.35), -5px -5px 13px rgba(255, 255, 255, 0.15);
     filter: blur(5px);
    border-radius: 24px;
    height: 46px;
    width: 46px;
    position: absolute;
    z-index: 9;
}
.social-link ul li a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 46px;
    width: 46px;
    z-index: 99;
}
.produc-desing .product-item{
    flex-direction: row-reverse;
}
.form {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 185px;
}
.form form{
    max-width: 625px;
    width: 100%;
    margin:  0 auto;
}
.user-info{
    display: flex;
    justify-content: space-between;
}
.user-info input{
    background: #F1F3F6;
    box-shadow: 12px 12px 30px rgba(55, 84, 170, 0.2), -12px -12px 30px #FFFFFF;
    border-radius: 30px;
    width: 300px;
    height: 54px;
    border: none;
    outline: none;
    transition: all 0.5s;
    padding: 0 20px;
    text-transform:uppercase;
    color: #798BA7;
}
.user-info input:focus{
    box-shadow: 12px 12px 35px rgba(55, 84, 170, 0.2), -12px -12px 35px #FFFFFF, inset -5px -5px 7px #FFFFFF, inset 5px 5px 10px rgba(55, 84, 170, 0.15);
}
.user-text textarea{
    margin-top: 30px;
    margin-bottom: 30px;
    text-transform:uppercase;
    background: #F1F3F6;
    box-shadow: 12px 12px 30px rgba(55, 84, 170, 0.2), -12px -12px 30px #FFFFFF;
    border-radius: 30px;
    border: none;
    max-width: 625px;
    width: 100%;
    transition: all 0.5s;
    resize: none;
    padding: 20px;
    height: 120px;
    color: #798BA7;
}
.user-text textarea:focus{
    outline: none;
    box-shadow: 12px 12px 35px rgba(55, 84, 170, 0.2), -12px -12px 35px #FFFFFF, inset -5px -5px 7px #FFFFFF, inset 5px 5px 10px rgba(55, 84, 170, 0.15);
}
.user-btn{
    background: #F1F3F6;
    box-shadow: 12px 12px 30px rgba(55, 84, 170, 0.2), -12px -12px 30px #FFFFFF;
    border-radius: 30px;
    border: none;
    width: 349px;
    height: 48px;
    text-align: center;
    margin: 0 auto;
    display: block;
    color:#798BA7;
    font-family: Affect-Bold;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 60px;
    outline: none;
    cursor: pointer;
    transition: all 0.5s;
}
.user-btn:hover{
    box-shadow: 12px 12px 35px rgba(55, 84, 170, 0.2), -12px -12px 35px #FFFFFF, inset -5px -5px 7px #FFFFFF, inset 5px 5px 10px rgba(55, 84, 170, 0.15);
}
.form h2{
    text-align: center;
    font-family: Affect-Bold;
    font-size: 30px;
    line-height:36px;
    margin: 0 auto;
    text-transform: uppercase;
    color: #798BA7;
    max-width: 668px;
    width: 100%;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
    margin-bottom: 55px;
}
.form-img{
    background-image: url(../image/form.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
}
footer{
    padding:40px 25px;
    background: #F1F3F6;    
    box-shadow: 12px 12px 30px rgba(55, 84, 170, 0.2), -12px -12px 30px #FFFFFF;
}
.footer-block{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer-info{
    display: flex;
    align-items:center;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin: 0 20px 0 0;
}
.footer-logo img{
    height: 80px;
}
.footer-contact a{
    font-size: 19px;
    text-decoration: none;
    line-height: 26px;
    color: #798BA7;
    text-shadow: 1px 1px 1px rgba(55, 84, 170, 0.23), -1px -1px 1px #FFFFFF;
}
.footer-btn{
    position: relative;

}
.footer-btn a{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 94px;
    width: 94px;
    z-index: 99;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    text-decoration: none;
    color: #798BA7;
    text-shadow: 1px 1px 0px rgba(255, 255, 255, 0.5);
}
.footer-btn:before{
    content: '';
    background: #F1F3F6;
    box-shadow: 5px 6px 13px rgba(55, 84, 170, 0.35), -5px -5px 13px rgba(255, 255, 255, 0.15);
    filter: blur(5px);
    border-radius: 50%;
    height: 94px;
    width: 94px;
    position: absolute;
    z-index: 9;
}
.footer-btn:after{
    content:'';
    width: 10px;
    height: 10px;
    position: absolute;
    background: #36F5FE;
    border: 1px solid rgba(255, 255, 255, 0.638658);
    box-sizing: border-box;
    box-shadow: inset -2px -1px 6px rgba(255, 255, 255, 0.5), inset 2px 2px 6px rgba(95, 157, 231, 0.48);
    top: 20px;
    right: 0;
    left: 0;
    margin: 0 auto;
    z-index: 99;
    border-radius:50%;
}
#nav{
    display: none;
}
.nav-btn{
    display: none;
}
::placeholder {
    font-family: Affect; 
    opacity: 1; 
    font-size: 18px;
    line-height: 23px;
    color: #C3CCE3;
    font-weight: 400;
  }
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: Affect; 
    font-size: 18px;
    line-height: 23px;
    color: #C3CCE3;
    font-weight: 400;
  }
  ::-ms-input-placeholder { 
    font-size: 18px;
    line-height: 23px;
    font-weight: 400;
    color: #C3CCE3;
    font-family: Affect; 
  }
/* анммация линии */
@keyframes line_r_animation {
    0%   {right: calc(2% + 50px); width: 0px;}
    35%   {right: calc(2% + 0px); width: 50px;}
    70%   {right: calc(2% + 0px); width: 0px;}
    100%   {right: calc(2% + 0px); width: 0px;}
}
  .keyboard {
    padding: 25px;
    border-radius: 12px;
    min-width: 640px;

  }
  .keyboard__keys {
    display: flex;
    justify-content: center;
  }
  
  .key {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 10px;
    min-width: 50px;
    height: 50px;
    border-radius: 15px;
    background: linear-gradient(145deg, #F2F7FB, #E9F2FB);
    box-shadow: 5px 5px 15px #D9E3EC;
  }
  .key__letter {
    background: -webkit-linear-gradient(245deg, #1E71F5, #3CDEE7);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .key__down {
    color: linear-gradient(45deg, #1E71F5, #3CDEE7);
    background: linear-gradient(145deg, #E9F2FB, #F2F7FB);
    box-shadow: inset 5px 5px 5px #D9E3EC;
  }
  .key__space {
    width: 60%;
  }
  .scroll-arrow {
    width: 12px;
    height: 12px;
    transform: rotate(45deg);
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    animation: arrow-wave 1s infinite;
    animation-direction: alternate;
  }
  .scroll-arrow:nth-child(1) {
    animation-delay: 0.1s;
  }
  .scroll-arrow:nth-child(2) {
    animation-delay: 0.3s;
  }
  /* .scroll-arrow:nth-child(3) {
    animation-delay: 0.3s;
  } */
  
  @keyframes arrow-wave {
    0% {
      opacity: 0;
    }
    50% {
      opacity: .5;
    }
    100% {
      opacity: 1;
    }
  }